@font-face {
    src: url("./fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2");
    font-family: "inter";
}

@font-face {
    src: url("./fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-family: "inter";
}