.container1 {
    display: grid;
    padding: 1rem;
    /* row-gap: 1rem; */
    column-gap: 0.5rem;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 37px);
    grid-auto-flow: row dense;
    margin-bottom: 20px;
}

.html {
    background-color: blueviolet;
    text-align: center;
    align-content: center;
}

.css {
    background-color: blueviolet;
    text-align: center;
    align-content: center;
}

.javascript {
    background-color: blueviolet;
    text-align: center;
    align-content: center;
}

.vscode {
    background-color: blueviolet;
    text-align: center;
    align-content: center;
}