.label {
  display: none;
}

#burger-toggle {
  display: none;
}

@media (max-width: 320px) {
  .label {
    position: relative;
    display: block;
    height: 25px;
    width: 30px;
  }

  .label::after, .label::before, .label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--third-color);
    transition: .3s;
  }

  .label::before {
    content: "";
    top: 0;
    right: 380px;
  }

  .label::after {
    content: "";
    bottom: 0;
    right: 380px;
  }

  .label span {
    top: 11px;
    right: 380px;
  }

  #burger-toggle:checked ~ .label::after {
    transform: rotate(45deg);
    bottom: 10px;
  }

  #burger-toggle:checked ~ .label::before {
    transform: rotate(-45deg);
    top: 12px;
  }

  #burger-toggle:checked ~ .label span {
    transform: rotate(-45deg);
    top: 12px;
  }

  .ul1 {
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    padding-top: 400px;
    padding-bottom: 40px;
    z-index: -1;
    flex-direction: column;
    text-align: center;
    left: -100vh;
    right: 100vh;

  }

  #burger-toggle:checked ~ .ul1 {
    left: 0;
    right: 0;
  }

  .ul1 li a {
    font-size: 24px;
  }
}