.vulva1 {
    color: var(--third-color);
    font-size: 16px;
    line-height: 140%;
    margin-top: 35px;
}

.vulva2 {
    color: var(--third-color);
    font-size: 16px;
    line-height: 140%;
    margin-top: 20px;
}

.vulva3 {
    color: var(--third-color);
    font-size: 16px;
    line-height: 140%;
    margin-top: 20px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.icon {
    margin-bottom: 60px;
}

.twitter {
    align-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-icon);
}

.teleg {
    align-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-icon);
}

.inst {
    align-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-icon);
}